*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.02em;

    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat fixed;
    height: 100vh;
    display: grid;
    place-content: center;
}

.grid{
    display: grid;
}
.column {
    grid-auto-flow: column;
}
.text-right {
    text-align: right;
}

section {
    background-color: #fff;
    padding: 2.4rem 3.2rem;


    -webkit-mask: var(--mask);
    mask: var(--mask);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}

h1,
strong {
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    color: #fff;
}
p {
    color: rgba(0, 0, 0, 0.64);
    font-size: 1.4rem;
    line-height: 1.7rem;
}
strong {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.88);
}

#boarding-pass {
    margin: auto;
}
#ticket {
    margin-top: 2rem;
}



.top{
    border-radius: 2.4rem 2.4rem 0 0;
    gap: 2.4rem;
    --mask: radial-gradient(
        1.2rem at 1.2rem bottom,
    transparent 95%,
    black
    ) -1.2rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
}

.departure, .arrival {
    width: 12.5rem;
}
.departure strong, .arrival strong {
    font-size: 4rem;
    line-height: 4.7rem;
}
.airplane {
    align-self: center;
}

.top time {
    color: rgba(0, 0, 0, 0.8);
}
.top time sup {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
}
.middle {
    border: 1px dashed rgba(0, 0, 0, 0.32);
    border-left: 0;
    border-right: 0;

    --mask: radial-gradient(
        1.2rem at 1.2rem 1.2rem,
    transparent 95%,
    black
    ) -1.2rem -1.2rem;
}
.bottom {
    border-radius: 0 0 2.4rem 2.4rem;
    --mask: radial-gradient(
        1.2rem at 1.2rem top,
    transparent 95%,
    black
    ) -1.2rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
}
.bottom .container {
    align-items: center;
    gap: 0.8rem;
}
dt time {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.9rem;
    background: #633BBC;
    border-radius: 0.8rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    display: inline-block;
    margin-top: 0.2rem;
}
dl.grid {
    gap: 1.6rem;
    min-width: 9.5rem;
}
.bottom > p{
    text-align: center;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.qrcode {
    justify-items: center;
}

footer {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #fff;
    opacity: 0.64;
    width: 27rem;
    margin: 2rem auto;
    text-align: center;
}

.bottom-wrapper {
    height: 339px;
    position: relative;
    overflow: hidden;
}
.bottom-wrapper:hover{
    animation: destacaTicket 2s ease 1s forwards;
}
.bottom {
    transform: rotate(0deg);
    transform-origin: left top 0;
    position: absolute;
    width: 33.9rem;

}
.bottom-wrapper:hover .bottom {
    animation: ticketToBottom 2s ease-in-out 2s forwards;
}

@keyframes destacaTicket {
    0% {
        transform: rotate(0deg);
        transform-origin: left top 0;
    }

    50% {
        transform: rotate(15deg);
        transform-origin: left top 0;
    }

    100% {

    }
}

@keyframes ticketToBottom {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(150%);
    }
}